# Exclude All
*

# White List
!.env
!.gitignore
!Dockerfile
!docker-compose.yml
!index.html
!local.development.sh
!open-api.schema.yaml
!package.json
!README.md
!schema.*.prisma
!tsconfig.json

!clients/
!clients/user-profile-spa/
!clients/user-profile-spa
!clients/user-profile-spa/eslint.config.js
!clients/user-profile-spa/index.html
!clients/user-profile-spa/package.json
!clients/user-profile-spa/public
!clients/user-profile-spa/public/*
!clients/user-profile-spa/src
!clients/user-profile-spa/src/**/*
!clients/user-profile-spa/vite.config.local.js

!services/
!services/users/
!services/users/profile/
!services/users/profile/src
!services/users/profile/src/**/*

!system/
!system/event-server
!system/event-server/package.json
!system/event-server/schema.prisma
!system/event-server/src
!system/event-server/src/**/*
!system/event-server/tsconfig.json
!system/event-server/tsconfig.package.json
!system/event-server/migrations
!system/event-server/migrations/**/*

!system/auth-server/
!system/auth-server/src
!system/auth-server/src/**/*
!system/auth-server/migrations
!system/auth-server/migrations/**/*

!system/data-access-server/
!system/data-access-server/migrations
!system/data-access-server/migrations/**/*
!system/data-access-server/src
!system/data-access-server/src/**/*

!example-micro-service